# PM2 services seperated by comma
SERVICES=Altaria,Charmander,Ampharos,Agenda

# How often will we send data to Statsd
INTERVAL=30000

# Statsd configuration
STATSD_HOST=54.152.63.110
STATSD_PORT=8125

# Prefix, Suffix for stat name
STAT_PREFIX=bdy
STAT_SUFFIX=
